*.gem
*.rbc
.bundle
.config
.yardoc
.byebug_history
Gemfile.lock
gemfiles/*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/config.yml
spec/examples.txt
spec/debug.log
test/tmp
test/version_tmp
tmp
/vendor/bundle
.envrc
