sudo: false

language: ruby
cache: bundler

rvm:
  - 2.3
  - 2.4
  - 2.5

gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile

addons:
  code_climate:
    repo_token: dedfb7472ee410eec459bff3681d9a8fd8dd237e9bd7e8675a7c8eb7e253bba9

  postgresql: "11"
  apt:
    packages:
      - postgresql-11
      - postgresql-client-11

before_install:
  - sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
  - sudo /etc/init.d/postgresql restart
  - sleep 2
  - psql -c "CREATE DATABASE chronomodel;" -U postgres
  - psql -c "CREATE DATABASE chronomodel_railsapp;" -U postgres

env:
  global:
    - PGPORT=5433

script:
  - bundle exec rake TEST_CONFIG=./spec/config.travis.yml

after_success:
  - bundle exec codeclimate-test-reporter
