rvm:
  - 2.2.7
  - 2.3
  - 2.4

gemfile:
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile

matrix:
  exclude:
    - rvm: 2.4
      gemfile: gemfiles/rails_4.2.gemfile

sudo: false

language: ruby
cache: bundler

addons:
  postgresql: "9.4"
  apt:
    packages: postgresql-plpython-9.4
  code_climate:
    repo_token: dedfb7472ee410eec459bff3681d9a8fd8dd237e9bd7e8675a7c8eb7e253bba9

before_script:
  - psql -c "CREATE DATABASE chronomodel;" -U postgres
  - bundle exec rake dummy:create

script:
  - bundle exec rake TEST_CONFIG=./spec/config.travis.yml

after_success:
  - bundle exec codeclimate-test-reporter
