name: Ruby specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Ruby specs
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:12
        ports: ['5432:5432']
        env:
          POSTGRES_HOST_AUTH_METHOD: trust

        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        ruby-version: ['2.6', '2.7', '3.0', '3.1', '3.2']
        gemfile: [rails_6.0, rails_6.1, rails_7.0]
        channel: ['stable']

        include:
          - ruby-version: '2.7'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: '3.0'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: '3.1'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: '3.2'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: 'head'
            gemfile: rails_7.0
            channel: 'experimental'
          - ruby-version: 'head'
            gemfile: rails_edge
            channel: 'experimental'

        exclude:
          - ruby-version: '2.6'
            gemfile: rails_7.0
          - ruby-version: '3.1'
            gemfile: rails_6.0
          - ruby-version: '3.1'
            gemfile: rails_6.1
          - ruby-version: '3.2'
            gemfile: rails_6.0
          - ruby-version: '3.2'
            gemfile: rails_6.1

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      TEST_CONFIG: ./spec/config.github.yml

    continue-on-error: ${{ matrix.channel != 'stable' }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Database
      run: |
        psql -c "CREATE ROLE runner SUPERUSER LOGIN CREATEDB;" -U postgres -h localhost
        psql -c "CREATE DATABASE chronomodel;" -U postgres -h localhost
        psql -c "CREATE DATABASE chronomodel_railsapp;" -U postgres -h localhost
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        rubygems: latest
        bundler-cache: true
    - name: Run specs and publish code coverage
      uses: paambaati/codeclimate-action@v3.2.0
      env:
        CC_TEST_REPORTER_ID: dedfb7472ee410eec459bff3681d9a8fd8dd237e9bd7e8675a7c8eb7e253bba9
      with:
        coverageCommand: bundle exec rake
